<%- include('../head.ejs') %>
    <!-- / Navbar -->

    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <!-- <h4 class="py-3 mb-4"><span class="text-muted fw-light">Category/</span>Create</h4> -->

            <!-- Basic Layout & Basic with Icons -->
            <div class="row">
                <!-- Basic Layout -->
                <form method="post" action="/api/users">
                    <div class="col-xxl">
                        <div class="card mb-4">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="mb-0">User - Create</h5>
                                <!-- <small class="text-muted float-end">Default label</small> -->
                            </div>
                            <% if (message) { %>
                                <%- message %>
                            <% } %>
                            <div class="card-body">
                                <form>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="basic-default-name">Tên</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="basic-default-name"
                                             name="name" required   placeholder="Tên" />
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="basic-default-name">Email</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="basic-default-name"
                                             name="email" required   placeholder="Email"  />
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="basic-default-name">Password</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="basic-default-name"
                                             name="password" required   placeholder="Password"  />
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="basic-default-name">Điểm</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="basic-default-name"
                                             name="points" required   placeholder="Điểm" value="0" />
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="basic-default-name">Quyền </label>
                                        <div class="col-sm-10">
                                            <select class="form-select" id="exampleFormControlSelect1" name="role" >
                                                <option value="SUPER_ADMIN"  >SUPER ADMIN</option>
                                                <option  value="ADMIN"  >ADMIN</option>
                                                <option value="USER" selected >USER</option>
                                              </select>
                                        </div>
                                    </div>
                                    
                                    <div class="row justify-content-end">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary">Create</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
        <!-- / Content -->

        <div class="content-backdrop fade"></div>
    </div>
    <!-- Content wrapper -->

    <%- include('../footer.ejs') %>